<!DOCTYPE html>
<html manifest="/smartdocs.appcache">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smart Docs Lite </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='mobile-web-app-capable' content='yes'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="manifest" href="./../manifest.json">
    <link rel='icon' sizes='192x192' href='/img/huaweiLogo-192x192.png'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body class="flat-blue login-page">
    <div class="container">
        <div class="login-box">
            <div>
                <div class="login-form row">
                    <div class="col-sm-12 text-center login-header">
                        <img src="/img/huaweiLogo-192x192.png" style="
    width: 200px;
">
                    </div>
                    <div class="col-sm-12">
                        <div class="login-body">
                            <div class="progress hidden" id="login-progress">
                                <h4 style="
    text-align: center;
">Smart Docs Lite</h4>
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    Iniciando Sesion
                                </div>
                            </div>
                            <form>
                                <div class="control">
                                    <input type="text" class="form-control" placeholder="Ingresa tu usuario" />
                                </div>
                                <div class="control">
                                    <input type="password" class="form-control" placeholder="Contrasena" />
                                </div>
                                <div class="login-button text-center">
                                    <input type="submit" class="btn btn-primary" value="Iniciar Sesion">
                                </div>
                            </form>
                        </div>
                        <div class="login-footer">
                            <span class="text-right"><a href="#" class="color-white">Deseo continuar sin ingresar a mi cuenta </a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/bundle.js"></script>
    
</body>

</html>